body {
  background-color: #1b1b1b;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin:0px 100px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .app {
    margin: 100px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}
