
.experience {
  margin-top: 40px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  color: #ff5000;
}

.experienceList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.experienceItem {
  margin-bottom: 30px;
  background-color: #31313561;
  padding: 20px;
  border-radius: 8px;
}

.jobTitle {
  font-size: 24px;
  font-weight: bold;
}

.companyAndDuration {
  font-size: 16px;
  color: #888;
}

.duration {
  font-style: italic;
  color: #aaa;
}

.description {
  margin-top: 10px;
  font-size: 18px;
  color: #bbb;
}
